In [1]:
from webcrawler import web_crawler
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Bad key "text.kerning_factor" on line 4 in
/Users/paulwilliams/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [7]:
%%time 
df = web_crawler()

Auto Village Webscraper!
------------------------------------------------------------------------------------------------------
Body style choices (seperate with commas): saloon, hatchback, 4x4, estate, coupe, convertible, or mpv.
Pages: a single integer (note there are 10 cars per page)
Save File: name you want to call your csv file
------------------------------------------------------------------------------------------------------


Inputs:
------------------------------------------------------------------------------------------------------

Enter a body style (or leave blank for all):
Enter the amount of pages you want to scrape:  150

------------------------------------------------------------------------------------------------------
You scraped:  9582 cars

Name to save file as (leave blank to not save):  cars2

------------------------------------------------------------------------------------------------------
File saved as cars2.csv n the current directory!
CPU times: user 2min 17s, sys: 8.37 s, total: 2min 26s
Wall time: 16min 35s

In [8]:
df['body_style'].value_counts()

Hatchback      1426
Estate         1405
MPV            1375
Coupe          1355
Saloon         1353
Convertible    1340
4x4            1328
Name: body_style, dtype: int64

In [15]:
df.describe()

            price(£)    mileage(mi)   door_count  engine_size(cc)         year
count    9582.000000    9582.000000  9582.000000      9582.000000  9582.000000
mean    18201.986015   38544.396681     4.030683      2014.231893  2014.744208
std     20598.608029   33290.273576     1.246851       805.829286     4.710711
min       350.000000       1.000000     2.000000         1.000000  1954.000000
25%      7995.000000   11686.000000     3.000000      1560.000000  2013.000000
50%     13990.000000   29895.000000     5.000000      1968.000000  2016.000000
75%     21477.250000   58000.000000     5.000000      2000.000000  2018.000000
max    429950.000000  369000.000000     6.000000      6761.000000  2020.000000

In [29]:
df['brand'].value_counts()

Mercedes-Benz    1242
BMW              1051
Audi              904
Ford              795
Volkswagen        645
Vauxhall          623
Volvo             390
Land-Rover        340
Citroen           303
Jaguar            289
Nissan            274
Peugeot           237
Kia               229
Hyundai           219
Toyota            216
Mini              179
Mazda             171
Renault           171
Seat              150
Fiat              135
Skoda             129
Porsche           126
Honda             122
Suzuki             76
Lexus              73
Mitsubishi         54
Aston-Martin       47
Bentley            44
Smart              41
Alfa-Romeo         39
Jeep               39
Ferrari            33
Dacia              26
Saab               24
Mg                 20
Ds                 18
Subaru             18
Lamborghini        13
Chrysler           11
Ssangyong           9
Chevrolet           9
Lotus               8
Rolls-Royce         8
Mclaren             8
Maserati            6
Triumph             3
Infiniti            3
TVR                 2
Rover               2
Austin              2
Proton              1
Dodge               1
Lancia              1
Daihatsu            1
Morgan              1
Caterham            1
Name: brand, dtype: int64

In [30]:
filt = df['brand'] == "Mercedes-Benz"
df[filt].sort_values('price(£)')

,price(£),mileage(mi),door_count,body_style,engine_size(cc),transmission,year,brand,model
9380,990,84000.0,4.0,Saloon,3200.0,Automatic,2001.0,Mercedes-Benz,C
2170,995,118000.0,4.0,Saloon,1796.0,Automatic,2003.0,Mercedes-Benz,C
1581,1299,154000.0,3.0,Coupe,2148.0,Automatic,2005.0,Mercedes-Benz,C
9527,1490,56000.0,4.0,Saloon,2148.0,Automatic,2002.0,Mercedes-Benz,C
5183,1495,170000.0,4.0,Saloon,1796.0,Automatic,2003.0,Mercedes-Benz,C
...,...,...,...,...,...,...,...,...,...
9158,91900,9140.0,2.0,Convertible,3982.0,Automatic,2018.0,Mercedes-Benz,AMG
4663,109450,350.0,4.0,Coupe,3982.0,Automatic,2019.0,Mercedes-Benz,AMG
10479,115000,653.0,4.0,Coupe,3982.0,Automatic,2019.0,Mercedes-Benz,AMG
2708,124366,880.0,2.0,Coupe,3982.0,Automatic,2019.0,Mercedes-Benz,AMG
4671,295000,450.0,2.0,Convertible,5980.0,Automatic,2016.0,Mercedes-Benz,SL